[Unit]
Description=DNS Proxy Service
Documentation=https://github.com/9bingyin/Fast-DoH
After=network.target
Wants=
Requires=

[Service]
ExecStart=/usr/bin/dnsproxy -l 127.0.0.1 -p 53 -u https://dns.nextdns.io/dns-query -b 127.0.0.1:5335
ExecStop=
ExecReload=/usr/bin/dnsproxy -l 127.0.0.1 -p 53 -u https://dns.nextdns.io/dns-query -b 127.0.0.1:5335
Type=simple

[Install]
WantedBy=multi-user.target
